@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

%text-properties {
    margin: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}

%full-screen {
    width: 100%;
    height: 100%;
}

%quote-box-styling {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 40%;
    min-height: 40%;
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    display: grid;
    grid-template-columns: 10% 85% 5%;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-areas:
        'upper upper upper'
        'quote-sign text-block .'
        'bottom bottom bottom';
    animation-duration: 0.5s;
    animation-name: fadein;
    // align-items: center;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root,
.container,
a {
    @extend %full-screen;
}

a {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
}

.quote-box {
    @extend %quote-box-styling;
}

.quote-history {
    @extend %quote-box-styling;
    max-height: 70%;
    .text-block {
        overflow-y: scroll;
        ul {
            margin: 1rem;
            li {
                @extend %text-properties;
                list-style-type: none;
                font-weight: bold;
            }
        }
    }
}

.upper-block {
    grid-area: upper;
    display: flex;
    justify-content: flex-end;
}

.quote-image {
    grid-area: quote-sign;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 3rem;
}

.text-block {
    grid-area: text-block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    animation-duration: 1s;
}
#author {
    align-self: flex-end;
}

.bottom-block {
    grid-area: bottom;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.button {
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin: 0.5rem;
    line-height: 3rem;
    position: relative;
}
.button-new-quote {
    margin-left: auto;
}

p {
    @extend %text-properties;
}

@media only screen and (max-width: 1200px) {
    %quote-box-styling {
        width: 60%;
    }
    .quote-image {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    %quote-box-styling {
        width: 80%;
    }
    .quote-image {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 480px) {
    %quote-box-styling {
        width: 98%;
        grid-template-columns: 10% 88% 2%;
        max-height: 50%;
    }
    .quote-image {
        font-size: 1rem;
    }
}
